/*General stuff*/
header {
    height: 4rem;
    display: flex; /*Will learn how this works l8er*/
}

hr {
    border: 1px solid #38BEDC;
}

#logo {
    height: 100%;
}

#logo-label {
    margin: auto 0.5rem;
    font-family: "Verdana";
    font-weight: bolder;
    font-size: 1.5em;
}

#description {
    font-size: 1.5em; 
}

body {
    background-color: #F5F5F5;
    font-family: "Roboto";
    padding: 1%;
}

form {
    max-width: 50vw;
}

fieldset {
    border-color: #140600;
    border-width: 2px;
}

input, select, textarea {
    border-color: #140600;
    border-width: 1px;
}

/*Elem-specifics*/
.user-info {
    display: inline-block;
    
}

.desserts-consumed .checkbox-option {
    display: block;
}

.checkbox-option{
    display: inline-block;
}
/*Ensures perfect alignment of checkbox and text*/
.checkbox-option input, label{
    vertical-align: middle;
}

textarea {
    border: 1px solid #140600;
    resize: none;
}

.submit-field{
    border: 0;
}

#submit{
    border-width: 1px;
    border-color: #140600;
    font-size: 1.5em;
    font-family: "Roboto";
}

